.podium {
	position: relative;
}

.podium h1, .podium p {
	color: #ffffff;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 20px;
}
.podium p {
	top: 80px;
}

#podium_row {
	margin-bottom: 20px;
}